/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* VARIABLES */

:root {
    --light-blue: #DEEDF7;
    --light-purple: #E3E0FF;
    --dark-blue: #1E209A;
    --page-font: "Inter", sans-serif;
}

/* GLOBAL STYLES */

body {
    font-family: var(--page-font);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--page-font);
}

/* HEADER STYLES */
header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

h1 a {
    font-family: "EB Garramond", 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

nav a {
    font-size: 1.2rem;
    text-decoration: underline;
}



/* MAIN STYLES */


main>section {
    padding: 25px 25px 50px;
    margin: 0 auto;
    line-height: 1.5;
}

main>section>* {
    max-width: 600px;

}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

img {
    display: block;
}


/* BIOGRAPHY STYLES */

#biography-section {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#biography-section img {
    margin: 0 auto;
    width: 100%;
    border-radius: 10%;
    border: solid 5px var(--dark-blue);
    margin-bottom: 20px;
    max-width: 600px;
}

#biography-section p {
    margin-bottom: 20px;
}

#biography-section :not(:first-of-type) {
    text-indent: 2ch;
}

#biography-section p:first-of-type {
    text-align: center;
    font-style: italic;
}

/* PROJECTS STYLES */

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-section {
    background-color: var(--light-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.link-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link-holder>a {
    background-color: var(--dark-blue);
    padding: 10px;
    border-radius: 10px;
}

.project img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    max-height: 800px;
}

.project>p {
    margin: 20px 0 40px;
    text-indent: 2ch;
}

.project h3 {
    text-align: center;
}

/* FOOTER STYLES */

footer {
    background-color: var(--dark-blue);
    text-align: center;
    padding: 20px;
    color: white;
}

footer ul {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* MEDIA QUERIES */
@media screen and (min-width:500px) {
    main>section {
        padding: 25px 50px 50px;
    }

    #biography-section img {
        width: 80%;
    }

    .project>div {
        width: 100%;
    }
}

@media screen and (min-width:700px) {
    nav ul {
        flex-direction: row;
        gap: 20px;
    }

    .link-holder {
        justify-content: center;
        gap: 40px;
    }

    footer ul {
        font-size: 1.5rem;
        gap: 40px;
    }
}

/* HOVER STYLES */
nav a:hover {
    color: darkgrey;
}

.link-holder a:hover {
    background-color: var(--light-blue);
}